[submodule "recommend-task-2025/esci-data"]
	path = recommend-task-2025/esci-data
	url = https://github.com/amazon-science/esci-data.git
[submodule "recommend-task-2025/published"]
	path = recommend-task-2025/published
	url = https://huggingface.co/datasets/trec-product-search/product-recommendation-2025
